*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	background-color:#cccc;
}
main{
	background-color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:25px;
	margin:10px;
	padding:15px;
}

#profile-section{
	display:flex;
	gap:15px; 
}
span{
	font-weight:bolder;
}
.name, .profile, .email{
	padding:5px;
	font-size:16px
}
.skill-section{
	display:flex;
	justify-content:space-between;
	
}

.skills-sec,.skills{
	padding:10px 0px;
}
.progress-bar{
	width:100%;
	/* height:3px; */
	background-color:#caf6ff;
	border:0px solid blue;	
}
#progress-1{
	width:95%;
	border:3px solid blue;
	
}
#progress-2{
	width:90%;
	border:3px solid blue;	
	
}
#progress-3{
	width:99%;
	border:3px solid blue;	
	
}
#progress-4{
	width:93%;
	border:3px solid blue;	
}
.about-content{
	padding:10px 0px;
}

.horizontal-line{
	width:25%;
	border:2px solid blue;
}